a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

a:active {
  color: #000000;
}

.img-box {
  max-height: 275px;
  max-width: 275px;
  width: 25%;
  border-radius: 10px;
}

.large-txt {
  font-size: x-large;
  font-weight: bolder;
}

.gray-txt {
  color: #666;
  font-size: large;
}
