<div *ngIf="model">
  <div>
    <a href="{{ model.htmlUrl }}">
      <img class="img-box" src="{{ ( model.avatarUrl ? model.avatarUrl : model.gravatarId ) }}">
    </a>
  </div>
  <div class="large-txt">
    <a href="{{ model.htmlUrl }}">{{ model.name }}
    </a>
  </div>
  <div class="gray-txt">{{ model.login }}</div>
  <div *ngIf="model.email">
    <app-icon iconName="mail"></app-icon>&nbsp;{{ model.email }}
  </div>
  <div *ngIf="model.blog">
    <a href="{{ model.blog }}">
      <app-icon iconName="link"></app-icon>&nbsp;{{ model.blog }}
    </a>
  </div>
  <div *ngIf="model.location">
    <app-icon iconName="map-pin"></app-icon>&nbsp;{{ model.location }}
  </div>
  <div *ngIf="model.bio">{{ model.bio }}</div>
  <div *ngIf="model.company">Company: {{ model.company }}</div>
  <div *ngIf="model.hireable">Looking for work!</div>
</div>
