.banner {
  background: repeating-linear-gradient(45deg,
      #fcc203,
      #fcc203 10px,
      #ffdf29 10px,
      #ffdf29 20px);
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
