.banner {
  background: repeating-linear-gradient(45deg,
      #ff3333,
      #ff3333 10px,
      #ff6666 10px,
      #ff6666 20px);
  color: white;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
